{
    "gmapkey": "PutYourKeyHere",
    "tasks": [
      {
        "type": "HandleSoftBan"
      },
      {
        "type": "CollectLevelUpReward"
      },
      {
        "type": "IncubateEggs",
        "config": {
          "longer_eggs_first": true
        }
      },
      {
        "type": "TransferPokemon"
      },
      {
        "type": "EvolveAll",
        "config": {
          "evolve_all": "none",
          "#evolve_all": "Pidgey,Rattata,Weedle,Caterpie,Zubat,Sandshrew,NidoranF,NidoranM,Mankey,Geodude,Eevee,Spearow,Ekans,Doduo,Cubone,Venonat,Psyduck,Kabuto,Growlithe,Krabby,Omanyte,Machop,Machoke,Gloom,Rhyhorn,Meowth,Horsea,Diglett,Bellsprout,Weepinbell,Slowpoke,Goldeen,Poliwag,Polywrath,Clefairy,Paras,Kadabra,Doduo,Staryu",
          "evolve_cp_min": 0,
          "evolve_speed": 1,
          "use_lucky_egg": false
        }
      },
      {
        "type": "RecycleItems",
        "config": {
          "item_filter": {
            "Pokeball":       { "keep" : 50 },
            "Greatball":      { "keep" : 50 },
            "Ultraball":     { "keep" : 120 },
            "Potion":         { "keep" : 0 },
            "Super Potion":   { "keep" : 0 },
            "Hyper Potion":   { "keep" : 25 },
            "Revive":         { "keep" : 25 },
            "Razz Berry":     { "keep" : 50 }
          }
        }
      },
      {
        "type": "CatchVisiblePokemon"
      },
      {
        "type": "CatchLuredPokemon"
      },
      {
        "type": "SpinFort"
      },
      {
        "type": "MoveToFort"
      },
      {
        "type": "FollowSpiral"
      },
      {
        "type": "FollowCluster",
        "config": {
            "radius": 50,
            "lured": true
        }
      }
    ],
    "nickname_template": "{name}_{iv_pct}",
    "map_object_cache_time": 5,
    "max_steps": 5,
    "forts": {
      "avoid_circles": true,
      "max_circle_size": 50
    },
    "websocket_server": false,
    "walk": 15,
    "action_wait_min": 1,
    "action_wait_max": 4,
    "debug": false,
    "test": false,
    "health_record": true,
    "location_cache": false,
    "distance_unit": "km",
    "reconnecting_timeout": 15,
    "evolve_captured": "all",
    "catch_randomize_reticle_factor": 1.0,
    "catch_randomize_spin_factor": 1.0,
    "catch": {
      "any": {"catch_above_cp": 0, "catch_above_iv": 0, "logic": "or" }
    },
    "release": {
      "any": {"keep_best_cp": 3, "keep_best_iv": 0}
    }
}
